<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Test task</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container text-center">
    {% include 'header/login.html.twig' %}
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {% if notify is defined %}
        <div class="alert alert-success">
          {{ notify }}
        </div>
      {% endif %}

      {% if errors is defined and errors is not empty %}
        {% for error in errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

<footer>
  <p></p>
</footer>

{% block modals %}{% endblock %}

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
